@mixin menu-sub {
    position: absolute;
    top: 95%;
    left: 0;
    background: {
        color: $color-primary;
    }

    &-item {
        display: block;
    }
}

@mixin menu-sub-believe-achieves-authentic($bckgtype,$figure-width) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16vh;
    width:100%;
    height: 0;
    transition: all .3s;
    left: 0;
    padding: 1rem;

    text: {
        align: center
    }
    @if($bckgtype == "image") {
        background: {
            #{$bckgtype}: url('./assests/images/the-pyramid-bckg.jpg');
            size: 30% 100%;
        }
    }
    @else {
        background: {
            #{$bckgtype}: $color-primary
        }
    }
    border-top: 2px solid $color-secondary;

    &-item {
            display: none;
            height: 100%;
            margin-right: 2rem;
            text-decoration: none;
            transition: all .3s;
    &:hover {
            transform: scaleY(1.1);
            }
     &-figure {
            width: $figure-width+rem;
            height: 160/16+rem;
    &-img {
            width: 100%;
            height: 70%;
        }
    &-cap {
            font: {
            size: 13/16+rem;
            family: serif;
            weight: 400;
        }
     color: $color-secondary;
            }
        }
    }
}

@mixin  responsive($view) {
    @media screen and (max-width: $view) {
        @content;
    }
}

@mixin  center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}