//about purpose
.aboutpurpose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    position: relative;
    //height: 100vh;
    @include responsive($tablet) {
        padding-top: 9rem;
    }
    @include responsive($mobile) {
        padding-top: 11rem;
        @media screen and (min-height: 700px) and (max-height: 1200px ) {
            padding-top: 12.5rem;
            //height: 185vh;
        }
        @media screen and (min-height: 570px) and (max-height: 650px ) {
            padding-top: 10rem;
            //height: 230vh;
        }
        @media screen and (min-height: 400px) and (max-height: 569px ) {
            padding-top: 8rem;
            //height: 280vh;
        }
        @media screen and (orientation: landscape) {
            padding-top: 10rem;
            //height: 290vh;
        }
        
    }
    @include responsive($mobile) {
        @media screen and (max-height: 325px) {
            padding-top: 8rem;
            //height: 300vh;
        }
    }
    
    &-title {
        color: $color-primary;
        font: {
            size: 1.5rem;
            style: italic;
            weight: 600;
        }
        max-width: 900/16+rem;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1;
    }
    &-del {
        color: $color-grey;
       max-width: 900/16+rem;
       text-align: center;
       margin-bottom: 1rem;
       font: {
           size: 1.2rem;
       };
    }
    &-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        @include responsive($mobile) {
            flex-direction: column;
            @media screen and (orientation: landscape) {
                flex-direction: column;
                 justify-content: space-between;
            }
        }
        & .margin-right {
            margin-right: 4rem;
            margin-left: 4rem;
            margin-bottom: .5rem;
            @include responsive($tablet) {
                margin-right: 2rem;
                margin-left: 2rem;
            }
            @include responsive($mobile) {
                margin-right: 2rem;
                margin-left: 2rem;
            }
        }
        & .margin-left {
            margin-left: 4rem;
            margin-right: 4rem;
            margin-bottom: .5rem;
            @include responsive($tablet) {  
                margin-right: 0rem;
                margin-left: 0rem;
            }
            @include responsive($mobile) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

//about symbols

.about-symbols {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    padding-top: 2rem;
    z-index: -1;
    @include responsive($tablet) {
        padding-top: 7rem;
    }
    @include responsive($mobile) {
        padding-top: 9rem;
        @media screen and (orientation: landscape) {
            padding-top: 3rem;
        }
    }
    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-bottom: 0;
        background-image: linear-gradient(rgba(0, 47, 92, .9), rgba(0, 47, 92, .9)),
        url('./assests/images/confirm.jpg');
        background-size: cover;
        background-position: center, center;
        background-attachment: scroll;
        padding-bottom: 2rem;
        @include responsive($mobile) {
            padding-bottom: 4rem;
            background-size: cover;
             @media screen and (orientation: landscape) {
                padding-bottom: .5rem
             }
        }
        &__title {
            padding-top: 4rem;
            display: inline-block;
            text-align: center;
            padding: 0 1rem;
            @include responsive($mobile) {
                padding: 3rem .5rem 0;
            }
            @include responsive('340px') {
                padding: 0;
            }
            
            &-1, &-2, &-3 {
                display: block;
                font-family: spectral, serif;
                font-weight: bolder;
            }
            &-1, &-3 {
                font-size: 2.7rem;
                letter-spacing: 1rem;
                @include responsive($mobile) {
                    font-size: 2.2rem;
                }
                
            }
            &-2 {
                font-size: 1.8rem;
                line-height: .5;
                word-spacing: 1.5rem;
                letter-spacing: .8rem;
            }
        }
        &__des {
            max-width: 330/16+rem;
            font-size: 1.2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
            text-align: center;
            font-family: serif;
        }
        &__symbols {
            max-width: 600/16+rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            &--img {
                width: 160/16+rem;
                height: 160/16+rem;
                margin: 0 1rem 1rem 0;
            }
        }
    }
    &-mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        &__title {
            font-size: 2.1rem;
            font-family: serif;
            color: rgb(0, 47, 92);
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
            font-weight: bolder;
            padding: 0 1rem 1rem;
        }

        &__img {
            max-width: 500/16+rem;
            height: 400/16+rem;
        }
        &__del {
           max-width: 650/16+rem;
           color: $color-grey; 
           font-size: 1.2rem;
           font-weight: bold;
           padding: 0 1rem 1rem;
           

           &--foot {
               max-width: 550/16+rem;
               color: $color-primary;
               font-size: 1rem;
               font-weight: bolder;
               padding: 0 1rem 1rem;
               font-style: italic;
               text-align: center;
           }
        }
    }
}
//about symbol mark 

.about-mark-head {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('./assests/images/confirm.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include responsive($mobile) {
        height: 100vh;
        padding-top: 10rem;
    }
    @media screen and (orientation: landscape) {
        height: 150vh;
        padding-top: 6rem;
    }

    &__img {
        max-width: 200/16+rem;
        height: 300/16+rem;
    }
    &__del {
        display: inline-block;
        & span {
            display: block;
            &:nth-of-type(1) {
                font-size: 42px;
                color: #9f1d4a;
                line-height: 1;
                text-align: center;
                font-family: Lato;
                font-weight: 300;
                font-style: italic
            }
            &:nth-of-type(2) {
                font-size: 17px;
                color: #9f1d4a;
                line-height: 1;
                text-align: center;
                font-family: Lato;
                font-weight: 400;
                font-style: italic;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                font-size: 13px;
                color: #595959;
                line-height: 1.5;
                text-align: center;
                font-family: Lato;
                font-weight: 400;
                font-style: normal;
            }
            
        }


    }
}

.about-mark>.aboutpurpose {
    margin-top: -4rem;
    @include responsive($mobile) {
        margin-top: -6.5rem;
    }
    @media screen and (orientation: landscape) {
       margin-top: -7rem;
    }
}

//billionares giving pledge
.aboutbillionaire {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(202, 199, 199);
    @include responsive($tablet) {
        padding-top: 8.5rem;
        @media screen and (orientation: landscape) {
            padding-top: 7rem;
        }
    }
    @include responsive($mobile) {
         padding-top: 8.5rem;
        @media screen and (orientation: landscape) {
            padding-top: 5.8rem;
        }
    }
    &>.aboutpurpose-title {
        max-width: 680/16+rem;
        margin-top: 1rem;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    &>.aboutpurpose-del {
        max-width: 500/16+rem;
        text-align: justify;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    &>.about-symbols-mid__del--foot {
        max-width: 450/16+rem;
        text-align: justify;
        color: $color-grey;
        margin-bottom: 2rem;
    }
}
.about-billi-title {
    position: relative;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(rgba($color-secondary, .7), rgba($color-secondary, .7)), url('./assests/images/the-pyramid1.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1.9rem;
    color: #ffffff;
    text-align: center;
    font-family:Lato;
    font-weight:900;
    font-style:normal;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .85;
}

.biliapplform {
    .notejoining {
        background: #e3e3e3d6;
        max-width: 380px;
        margin: .5rem auto;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 51px -9px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 0 51px -9px rgba(0, 0, 0, .25);
        box-shadow: 0 0 51px -9px rgba(0, 0, 0, .25);
        margin-bottom: 2rem !important;
        & h4 {
            text-align: center !important;
            font-size: .9rem !important;
            font-family: average, serif !important;
            max-width: 450px;
            margin: auto;
            margin-top: -5px;
            color: rgb(64, 64, 64);
            font-weight: 600;
            text-transform: none;
        }
        & h5 {
            text-align: center !important;
            font-size: 10pt !important;
            font-family: average, serif !important;
            max-width: 250px;
            margin: auto;
            margin-top: 15px;
            font-style: italic;
            color: #5a5a5a;
            margin-bottom: 10px;
            border-top: 1px solid #5a5a5a;
            border-bottom: 1px solid #5a5a5a;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

}