.learn-more {
    display: inline-block;
    font: {
        size: 12pt;
        weight: bold;
    }
    text: {
        decoration: none;
    }
    padding: 1rem .8rem;
    background: {
        color: $color-secondary
    }
    border-radius: 5px;
    &:hover {
        background-color: $color-primary;
    }
    transition: all .3s;
}

.home-believes__ctn-believe-more {
    align-self: baseline;
}

.submit {
    width: 95%;
    padding: .9rem;
    border: none;

    &:hover {
        background-color: $color-grey;
    }

}
